<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <title>Party Announcement</title>
</head>
<body>
    <h3>Good Afternoon World!</h3>
    <p>We're going to have an exciting party.</p>
    <a href="Home/RegisterForm">Register here</a>
</body>
</html>