@{
    string attendee = this.ViewBag.Name;
}
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <title>Successful!</title>
</head>
<body>
    <h2>Thank you, @attendee!</h2>
    <p>It's great that you're coming. The drinks are already in the fridge!</p>
</body>
</html>