<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Admin</title>
</head>
<body>
    <h3>Add New Employee: </h3>
    <a href="Home/AddEmployeeForm">Add</a>
</body>
</html>
